.home-body {
  height: auto;
  width: 100%;
}
/* Box-0 */
.home-Header-body {
  height: 60px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7fdf8;
}
.home-Header-div {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Header-div2 {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Header-Button {
  height: 45px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #006a4e;
  border-radius: 5px;
  color: #f42a41;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
}
.home-Header-Button:hover {
  border: 2px solid #f42a41;
}
.home-Header-Icon {
  height: 38px;
}
.home-Header-Text {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

/* Box-1 */
.home-Box1 {
  margin-top: 5px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box1-Left {
  height: 400px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-Box1-LeftImg {
  height: 200px;
}
.home-Box1-Text {
  font-size: 35px;
  font-weight: 700;
  color: #006a4e;
}
.home-Box1-Text2 {
  display: none;
  font-size: 35px;
  font-weight: 700;
  color: #006a4e;
  margin-bottom: -10px;
}

.home-Box1-Right {
  height: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box1-Button {
  border: none;
  color: #006a4e;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.home-Box1-Img {
  height: 400px;
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}
.home-Box1-Button:hover .home-Box1-Icon {
  color: #f42a41;
}
/* Box-2 */
.home-Box2 {
  height: auto;
  width: 100%;
  background-color: #e7fdf8;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-Box2-Text1 {
  font-size: 30px;
  font-weight: 600;
  color: #f42a41;
}
.home-Box2-Div {
  height: 45px;
  width: 80%;
  border: 1.5px solid #fa9da8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1.5px;
}
.home-Box2-Box1 {
  height: 44px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box2-Box2 {
  height: 44px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box2-Box3 {
  height: 44px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box2-Box4 {
  height: 44px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box2-Text2 {
  font-size: 18px;
  font-weight: 700;
}
.home-Box2-Line {
  width: 1.5px;
  height: 44px;
  background-color: #fa9da8;
}
.home-Box2-Icon {
  font-size: 25px;
}
.home-Box2-Icon:hover {
  color: #f42a41;
}
.home-Box2-Text3 {
  font-size: 18px;
}
.home-Box2-Text4 {
  font-style: italic;
  color: #f42a41;
  margin-bottom: 50px;
}

/* Box-3 */
.home-Box3 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Box-4 */
.home-Box4 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e7fdf8;
}
.home-Box4-Box {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Box-5 */
.home-Box5 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Box-6 */
.home-Box6 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7fdf8;
}
.home-Box6-Box1 {
  width: 50%;
}
.home-Box6-Box2 {
  width: 50%;
}
.home-Box6-Img {
  height: 350px;
}
.home-Box6-Icon3 {
  height: 150px;
}
.home-Box6-Text1 {
  font-size: 35px;
  font-weight: 700;
}
.home-Box6-Text2 {
  font-size: 20px;
  color: #fc8e9a;
}
.home-Box6-Div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-Box6-Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.home-Box6-Icon {
  height: 80px;
  width: 230px;
}
.home-Box6-Icon2 {
  height: 68px;
  width: 220px;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .home-Header-body {
    height: auto;
  }
  .home-Header-div2 {
    width: 50%;
  }
  .home-Header-div {
    width: 100%;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-Header-Button {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .home-Box1{
    flex-direction: column;
  }
  .home-Box1-Left {
    display: none;
  }
  .home-Box1-Right {
    width: 100%;
  }
  .home-Box1-Img {
    height: 300px;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-Box1-Text2{
    display: block;
  }
  .home-Box2-Div {
    width: 97%;
  }
  .home-Box4-Box {
    flex-direction: column;
  }
  .home-Box6 {
    height: auto;
    flex-direction: column;
  }
  .home-Box6-Box1 {
    width: 100%;
  }
  .home-Box6-Box2 {
    width: 100%;
  }
  .home-Box6-Icon3 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .home-Box1-Img {
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-Box1-Text2{
    font-size: 25px;
  }
  .home-Header-div {
    width: 100%;
  }
  .home-Header-div2 {
    width: 50%;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-Header-Button {
    width: 90%;
  }

  .home-Box6-Img {
    height: 250px;
  }
  .home-Box6-Text1 {
    font-size: 25px;
  }
  .home-Box6-Text2 {
    font-size: 18px;
  }
  .home-Box6-Icon {
    height: 60px;
    width: auto;
  }
  .home-Box6-Icon2 {
    height: 52px;
    width: auto;
    border-radius: 10px;
  }
}
