.Header-Body{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Header-Link{
    text-decoration: none;
    margin-left: 25px;
}
.Header-Text{
    font-size: 20px;
    font-weight: 700;
    color: 	#f42a41;
}
.Header-Box1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-Icon{
    height: 60px;
}
.Header-Box2{
    flex: 2.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-Box3{
    flex: .8;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}